In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
     -------------------------------------- 83.6/83.6 kB 117.3 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (2022.9.14)
Requirement already satisfied: python-dateutil in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: tqdm in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (1.26.11)
Requirement already satisfied: bleach in c:\users\razieh\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\razieh\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: webencodings in c:\users\razieh\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\razieh\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\razieh\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\razieh\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\razieh\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\razieh\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.9)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110686 sha256=7c8a2f383fc3343f8715402340532a0efce85ad1ab31163e864f56510428a2dc
  Stored in directory: c:\users\razieh\appdata\local\pip\cache\wheels\d2\ed\a5\da3a0cfb13373d1ace41cafa4f2467d858c55c52473ba72799
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.5.16
Note: you may need to restart the kernel to use updated packages.

# Arithmetic and Variables

In [2]:
print("Hello, world!")

Hello, world!

In [3]:
print(1 + 2)

3

In [4]:
print(9 - 5)

4

In [5]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [6]:
# Multiply 3 by 2
print(3 * 2)

6

In [7]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [9]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [10]:
print(my_var)
print(test_var)

100
9

In [11]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [12]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [13]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

In [14]:
print(hours_per_day)

24

# Exercise: Arithmetic and Variables

In [16]:
print("Hello, world!")

Hello, world!

In [18]:
print("Happy birthday Razieh.welcome to 34.be happy!")

Happy birthday Razieh.welcome to 34.be happy!

In [19]:
#print(1+2)

In [20]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60
secs_per_year=num_years*days_per_year*hours_per_day*mins_per_hour*secs_per_min
print("the seconds per 4 years is",secs_per_year)
# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

the seconds per 4 years is 126144000
126144000

In [21]:
births_per_min = 250

births_per_day = mins_per_hour*hours_per_day*births_per_min
print(births_per_day)

360000

In [27]:
import pandas as pd
titanic_data = pd.read_csv("C:/Users/Razieh/train.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)
# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

In [31]:
# Fill in the value of the survived_fraction variable
survived_fraction = survived/total

# Print the value of the variable
print(survived_fraction)

# Fill in the value of the minors_fraction variable
minors_fraction =minors/total

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016

# Functions

In [32]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [33]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13

In [34]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [35]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [37]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [38]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [39]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [40]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, .12)
print(same_pay_fulltime)

528.0

In [41]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

Hello, you!
Good morning!

# Exercise: Functions

In [44]:
import math

In [45]:
def get_expected_cost(beds, baths):
    if beds==0 and baths==0:
        value=80000
    else:
        value = 80000+(beds*30000)+(10000*baths)
    return value

In [46]:
#  Use the get_expected_cost function to fill in each value
option_one = get_expected_cost(2,3)
option_two = get_expected_cost(3,2)
option_three = get_expected_cost(3,3)
option_four = get_expected_cost(3,4)

print(option_one)
print(option_two)
print(option_three)
print(option_four)

170000
190000
200000
210000

In [47]:
#  Finish defining the function
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    total_sqft = sqft_walls + sqft_ceiling
    gallons_needed = total_sqft / sqft_per_gallon
    cost = cost_per_gallon * gallons_needed
    return cost

In [48]:
project_cost = get_cost(432, 144, 400, 15)

In [51]:
test_value = 2.17

rounded_value = math.ceil(test_value)
print(rounded_value)

3

In [52]:
def round_up_and_divide_by_three(num):
    new_value = math.ceil(num)
    final_value = new_value / 3
    return final_value

In [53]:
def get_actual_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    total_sqft = sqft_walls + sqft_ceiling
    gallons_needed = total_sqft / sqft_per_gallon
    gallons_to_buy = math.ceil(gallons_needed)
    cost = cost_per_gallon * gallons_to_buy
    return cost

In [54]:
get_actual_cost(432, 144, 400, 15)

30

# Data Types

In [55]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [56]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [57]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [58]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [59]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

In [60]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [61]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [62]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [63]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [64]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [65]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [66]:
print(len(w))

14

In [67]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [68]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [69]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [70]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [71]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

# Exercise: Data Types

In [72]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

In [73]:
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

In [74]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

In [75]:
#  Complete the function
def get_expected_cost(beds, baths, has_basement):
    value = 80000+beds*30000+baths*10000+has_basement*40000
    return value

In [76]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

In [77]:
def cost_of_project(engraving, solid_gold):
    cost = cost = solid_gold * (100 + 10 * len(engraving)) + (not solid_gold) * (50 + 7 * len(engraving))
    return cost

In [79]:
project_one = cost_of_project("Charlie+Denver", True)
print(project_one)

240

In [80]:
project_two = cost_of_project("08/10/2000", False)
print(project_two)

120

# Conditions and Conditional Statements

In [81]:
print(2 > 3)

False

In [82]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [83]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [84]:
print(evaluate_temp(37))

Normal temperature.

In [85]:
print(evaluate_temp(39))

Fever!

In [86]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [87]:
print(evaluate_temp_with_else(37))

Normal temperature.

In [88]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [89]:
evaluate_temp_with_elif(36)

'Normal temperature.'

In [90]:
evaluate_temp_with_elif(34)

'Low temperature.'

In [91]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [92]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [93]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [94]:
print(get_dose(12))

5

# Exercise: Conditions and Conditional Statements

In [95]:
#  Edit the function to return the correct grade for different scores
def get_grade(score):
    if score>=90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade
get_grade(98)

'A'

In [96]:
def cost_of_project(engraving, solid_gold):
    if solid_gold == True:
        cost = 100 + 10 * len(engraving)
    else:
        cost = 50 + 7 * len(engraving)
    return cost

In [97]:
# values of num_gallons
def get_water_bill(num_gallons):
    if num_gallons <= 8000:
        bill = 5 * num_gallons / 1000
    elif num_gallons <= 22000:
        bill = 6 * num_gallons / 1000
    elif num_gallons <= 30000:
        bill = 7 * num_gallons / 1000
    else:
        bill = 10 * num_gallons / 1000
    return bill

In [98]:
# values of GB
def get_phone_bill(gb):
    if gb <= 15:
        bill = 100
    else:
        bill = 100 + (gb - 15) * 100
    return bill

In [102]:
# import functions needed to make get_labels work
import excess_sugar, excess_saturated_fat, excess_trans_fat, excess_sodium, excess_calories

ModuleNotFoundError: No module named 'excess_sugar'

In [99]:
def get_labels(food_type, serving_size, calories_per_serving, saturated_fat_g, trans_fat_g, sodium_mg, sugars_g):
    # Print messages based on findings
    if excess_sugar(sugars_g, calories_per_serving) == True:
        print("EXCESO AZÚCARES / EXCESS SUGAR")
    if excess_saturated_fat(saturated_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT")
    if excess_trans_fat(trans_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS TRANS / EXCESS TRANS FAT")
    if excess_sodium(calories_per_serving, sodium_mg) == True:
        print("EXCESO SODIO / EXCESS SODIUM")
    if excess_calories(food_type, calories_per_serving, serving_size) == True:
        print("EXCESO CALORÍAS / EXCESS CALORIES")

In [103]:
# bologna https://world.openfoodfacts.org/product/4099100179378/bologna
get_labels("solid", 32, 110, 2.5, 0, 400, 1)

NameError: name 'excess_sugar' is not defined

# Intro to Lists

In [104]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

In [105]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [106]:
# The list has ten entries
print(len(flowers_list))

10

In [107]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

In [108]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

In [109]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [110]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [111]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [112]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

In [113]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

In [114]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

In [115]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8

# Exercise: Intro to Lists

In [126]:
#  Initial menu for your restaurant
menu = ['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp',
       'fish soup with cream and onion', 'gyro']

#  remove 'bean soup', and add 'roasted beet salad' to the end of the menu
menu.remove('bean soup')
menu.append('roasted beet salad')
menu

['stewed meat with onions',
 'risotto with trout and shrimp',
 'fish soup with cream and onion',
 'gyro',
 'roasted beet salad']

In [139]:
# Number of customers each day for the last month
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

# Fill in values for the variables below
avg_first_seven = sum(num_customers[0:7])/7
avg_last_seven = sum(num_customers[-7:]) /7
max_month = max(num_customers)
min_month = min(num_customers)
print("avg_first_seven",avg_first_seven,"\n","avg_last_seven",avg_last_seven,"\n","max_month",max_month,"\n","min_month",min_month)

avg_first_seven 150.85714285714286
 avg_last_seven 157.0
 max_month 174
 min_month 126

In [140]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

In [141]:
 print(flowers.split(","))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [142]:
#  Define two Python strings
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

#  Convert strings into Python lists
letters = alphabet.split(".")
formatted_address = address.split(",")

In [144]:
letters

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [146]:
formatted_address

['Mr. H. Potter',
 'The cupboard under the Stairs',
 '4 Privet Drive',
 'Little Whinging',
 'Surrey']

In [147]:
test_ratings = [1, 2, 3, 4, 5]

In [148]:
test_liked = [i>=4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]

In [150]:
def percentage_liked(ratings):
    list_liked = [i>=4 for i in ratings]
    percentage_liked = sum(list_liked)/len(list_liked)
    return percentage_liked


percentage_liked([1, 2, 3, 4, 5, 4, 5, 1])

0.5

In [151]:
def percentage_growth(num_users, yrs_ago):
    growth = (num_users[len(num_users)-1] - num_users[len(num_users)-yrs_ago-1])/num_users[len(num_users)-yrs_ago-1]
    return growth

#  Variable for calculating some test examples
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]

#  Should return .036
print(percentage_growth(num_users_test, 1))

#  Should return 0.66
print(percentage_growth(num_users_test, 7))

0.03629533421163837
0.6615639847417742